.main {
	display: block;
}
.black {
	background-color: black;
	display: inline-block;
	height: 40px;
	width: 40px;
}

.red {
	background-color: red;
	display: inline-block;
	height: 40px;
	width: 40px;
}